.DS_Store
node_modules/
/public/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.project

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# localFile
/localFile/
localFile.zip
